<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="{% static 'main.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <title>Web Scrxping</title>
</head>
<body>
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href=""><i class="fa fa-home"></i></a>
        </div>
        <h2>Tendances</h2>
        <div>
            {% include "trends/index.html" %}
        </div>
        <hr>
        <br>
        <div class="row search-bar">
            <div class="col-sm center-div research-part">
                <div class="basic">
                    <h2>Recherche</h2>
                    {% include "research/index.html" %}
                </div>
            </div>

            <div class="col-sm center-div">
                <div class="basic">
                    <h2>Recherche twitter</h2>
                    {% include "twitterSearch/index.html" %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>