<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Scrxping</title>
</head>
<body>
<div>
    <div class="row">
        <form method="POST" >
            {% csrf_token %}
            <table width="100%">
                <tr>
                    <td width="25%" style="vertical-align: top; border-right: solid 1px lightgrey">
                        <div class="">
                                <table>
                                    <tr>
                                        <td><input id="shouldSort" name="shouldSort" type="checkbox"
                                                   onchange="hideOrShowFiltering('table-sorting')"
                                                   {% if trends.shouldSort %} checked {% endif %}></td>
                                        <td><h4>&nbsp;Trier</h4></td>
                                    </tr>
                                </table>
                                <table id="table-sorting" {% if not trends.shouldSort %} hidden {% endif %}>
                                    <tr>
                                        <td>
                                            <select id="sortingCriteria" name="sortingCriteria" class="form-select"
                                                    aria-label="Selectionner le tri par un critère"
                                                    >
                                                <option value="" selected>Trier par :</option>
                                                <option value="trendName"
                                                        {% if trends.sortingCriteria == 'trendName' %}selected="selected"{% endif %}>
                                                    Nom de la tendance
                                                </option>
                                                <option value="trendNbTweets"
                                                        {% if trends.sortingCriteria == 'trendNbTweets' %}selected="selected"{% endif %}>
                                                    Nombre de tweets
                                                </option>
                                                <option value="trendCategory"
                                                        {% if trends.sortingCriteria == 'trendCategory' %}selected="selected"{% endif %}>
                                                    Catégorie
                                                </option>
                                            </select>
                                        </td>
                                        <td>
                                            <button class="btn btn-light" name="sortingDirection" type="submit"
                                                    value="{{ trends.sortingDirection }}">
                                                {% if trends.sortingDirection == 'DESC' %}
                                                    <img src="/static/assets/icon/sort-up.svg" alt="Ordre ascendant/alphabétique/croissant"
                                                         style="margin-top: auto;
                                                        margin-bottom: auto;
                                                        height: 100%;
                                                        display: block;"
                                                    />
                                                {% else %}
                                                    <img src="/static/assets/icon/sort-down.svg" alt="Ordre descendant/alphabétique inverse/décroissant"
                                                         style="margin-top: auto;
                                                                 margin-bottom: auto;
                                                                 height: 100%;
                                                                 display: block;"
                                                    />
                                                {% endif %}
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                        </div>
                    </td>
                    <td width="2%"></td>
                    <td width="70%" style="vertical-align: top;">
                        <div class="">
                                <table>
                                    <tr>
                                        <td><input id="shouldFilter" name="shouldFilter" type="checkbox"
                                                   onchange="hideOrShowFiltering('table-filter')"
                                                   {% if trends.shouldFilter %} checked {% endif %}></td>
                                        <td><h4>&nbsp;Filtrer</h4></td>
                                    </tr>
                                </table>
                                <table id="table-filter" {% if not trends.shouldFilter %} hidden {% endif %}>
                                    <tr>
                                        <td>
                                            <select id="filteringByCategory" name="filteringByCategory" class="form-select"
                                                    aria-label="Selectionner le filtre par un critère"
                                                     title="Filtrer par :">
                                                <option value="" selected>Filtrer par :</option>
                                                {% for category in trendsCategories %}
                                                    <option value="{{ category }}"
                                                            {% if trends.filteringByCategory == category %}selected="selected"{% endif %}>
                                                        {{ category }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td width="50px"></td>
                                        <td>
                                            <table width="100%">
                                                <tr>
                                                    <td>
                                                        <span>Nombre de tweets min :</span>
                                                    </td>
                                                    <td>
                                                        <input id="filteringByNbTweetsMin" name="filteringByNbTweetsMin" type="number" min="0"
                                                               value="{{ trends.filteringByNbTweetsMin }}">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span>Nombre de tweets max : </span>
                                                    </td>
                                                    <td>
                                                        {% if trends.filteringByNbTweetsMax < trends.filteringByNbTweetsMin %}
                                                            <input id="filteringByNbTweetsMax" name="filteringByNbTweetsMax" type="number"
                                                                   min="0" value="{{ trends.filteringByNbTweetsMin }}">
                                                        {% else %}
                                                            <input id="filteringByNbTweetsMax" name="filteringByNbTweetsMax" type="number"
                                                                   min="0" value="{{ trends.filteringByNbTweetsMax }}">
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <hr>
                                            <label for="searchTrend">Chercher : </label>
                                            <input id="searchTrend" name="searchTrend" class="" value="{{ trends.search }}"
                                                   type="text" placeholder="Nom tendance...">
                                        </td>
                                    </tr>
                                </table>
                        </div>
                    </td>
                </tr>
                <tr align="center">
                    <td width="100%" colspan="3">
                        <br>
                        <input type="submit" class="btn btn-outline-warning bold" value="Mettre à jour les tris et les filtres">
                        <input id="reloadAllTrends" name="reloadAllTrends" type="submit"
                               class="btn btn-outline-success bold" value="Recharger les tendances">
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <br>
    <ul class="nav text-nowrap flex-nowrap scroll">
        {% for trend in trends.twitterTrends %}
            <li style="padding-right: 10px;">
                <div class="trend-button-div">
                    <a class="btn btn-outline-primary trend-button"
                            role="button" aria-pressed="true"
                            onClick="loadTrendInSearchBar('{{ trend.name }}'); return false;">
                        {{ trend.name }}
                        {% if trend.nbTweetsFormatted != None %}
                            ({{ trend.nbTweetsFormatted }} Tweets)
                        {% endif %}
                    </a>
                    <span>{{ trend.category }}</span>
                    <span><a target='_blank' href="{{ trend.url }}">Lien vers la tendance</a></span>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>