<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Research</title>
    <script type="text/javascript">
        function showResults() {
            choiceChosen = document.querySelector('input[name=choice]:checked').value;
            document.querySelector("#test").textContent = 'choice : ' + choiceChosen;
        }
    </script>
</head>
<body>
<p>Faite une recherche twitter </p>

<form method="POST" onsubmit="return true;">{% csrf_token %}
    Mots-clés :
    <input id="twitterKeyword" type="text" name="twitterKeyword" value="{{ twitterSearched }}">
    <br/>
    <br/>
    <br/>
    <input type="submit" value="Rechercher">
    
</form>

<hr/>

<h3>Resultat : </h3>

<div>
    {% for twitt in twitterResults %}
        {% if twitt.content != "" and twitt.content != '"' %}
            <table width="100%">
                <tr>
                    <td>
                         {{ twitt.user.name }}
                        (<a target="_blank" href="{{ twitt.user.link }}">{{ twitt.user.userName }}</a>)
                        - <a target="_blank" href="{{ twitt.link }}">{{ twitt.date }}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="tweet-content" style="padding-left: 10px">
                            {{ twitt.content }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="" style="padding-left: 10px">
                            {{ twitt.interactions }}
                        </div>
                    </td>
                </tr>
            </table>
            <hr>
        {% endif %}
    {% endfor %}
</div>

</body>
</html>