<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Research</title>
    <script type="text/javascript">
        function showResults() {
            choiceChosen = document.querySelector('input[name=choice]:checked').value;
            document.querySelector("#test").textContent = 'choice : ' + choiceChosen;
        }
    </script>
</head>
<body>
<p>Choisissez un ou plusieurs filtres </p>

<form method="POST" onsubmit="return true;">
    {% csrf_token %}

    <table>
            <tr>
                <td>
                    Mots-clés :
                </td>
                <td>
                    <input id="globalSearch" type="text" name="keywords"><br/>
                </td>
            </tr>
        {% for radio_choice in results.user_choices %}
            <tr>
                <td>
                {{ radio_choice }}
                </td>
                <td><input type="text" name="{{ radio_choice }}"><br/></td>
            </tr>
        {% endfor %}
    </table>

    <br/>
    <input type="submit" value="Rechercher">
</form>

<hr/>


<div>
    <p>Recherche pour le(s) mot(s)-clé(s):<br/>
        {% for word in results.keyWords %}
            - {{ word }}<br/>
        {% endfor %}</p>
</div>

<h3>Resultat : </h3>

<div>
    <p>Ne contient pas:<br/>
        {% for word in results.dontContainAny %}
            - {{ word }}<br/>
        {% endfor %}</p>
</div>
<div>
    <p>Contient tous:<br/>
        {% for word in results.containAll %}
            - {{ word }}<br/>
        {% endfor %}</p>
</div>
<div>
    <p>Contient au moins un parmi:<br/>
        {% for word in results.containAtleastOne %}
            - {{ word }}<br/>
        {% endfor %}</p>
</div>
<div>
    <p>Tous les résultats:<br/>
        {% for link in results.allResults %}
            <li>
                <a target="_blank" href="{{ link }}">{{ link }}</a>
            </li>
        {% endfor %}
</div>
<p id="test"></p>

</body>
</html>