* {
    font-family: Montserrat, serif;
}

.navbar-nav > li {
    display: inline-block; /* stops menu items from stacking */
}

.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.trend-button {
    border-radius: 5px;
}

.trend-button-div span {
    display: none;
}

.trend-button-div:hover span {
    display: block;
    width: 100px;
}

.center-div {
    margin: 0 auto;
    width: 100px;
}

svg{
    width: 20px;
}

.r-zw8f10{
    width: 20px;
}

.research-part {
    border-right: solid 1px lightgrey;
}

.bold {
    font-weight: bold;
}

h1, h2, h3{
    font-weight: bold;
}